<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
</head>
<body>
    <h1>About me!</h1>'
    <h2>This is the story all about how..</h2>
    <h4>I want to become a competent asset in the software development field</h4>
    <h4>I want to create something that would be helpful to people</h4>
    <h4>I am an overall nice individual who cares for humanity and would like to see everyone around me succeed in their own level</h4>
</body>
</html>