<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    <form action="">
        First Name:
        <input type="text" name="firstname"><br>
        Last Name:
        <input type="text" name="lastname"><br>
        Ninja Level:
        <input type="text" name="ninjalevel"><br>
        <button type="submit" form="form1" value="Submit">Submit</button>
    </form>
</body>
</html>